*~
*\#
*.o
*.so
*.d
*.pcm
*.hist
*_hist
*.tree
*_tree
*.xml
*Weights*
tmva_training/plots/*
tmva_training/*.root
bin
src
interface
ML_Project
AsciiPlotter
plugins
python
scripts/*.py
test
data
BuildFile.xml
