*~
*\#
*.o
*.so
*.d
*.pcm
*.hist
*_hist
*.tree
*_tree
*.xml
*Weights*
lib/
studies/*/rootfiles/
tmva_training/plots/*
tmva_training/*.root
tmva_training/scripts/figures/*.png
tmva_training/scripts/figures/*/*.png
tmva_training/CWoLa_*
tmva_training/training_*
tmva_training/scripts/CWoLa_*
bin
scripts/*.root
*.log
histograms/canvases/*/*/*.root
studies/*/*.root
#ignore images by default
*.png
*.gif
*.jpg
*.pdf

#ignore compressed files by default
*.tar
*.zip
*.bz

#ignore Roostats specific
Roostats/workspaces
Roostats/*.root
Roostats/*.tree
Roostats/*.hist
Roostats/*.pdf
Roostats/plots
Pythia
CLFV_ZDecays_Pythia
ExRootAnalysis
ML_Project
AsciiPlotter
CutsetTraining
plugins
python
scripts/*.py
scripts/*.sh
scripts/batch/*
test
data
BuildFile.xml
