*~
*\#
*.o
*.so
*.d
*.pcm
*.hist
*_hist
*.tree
*_tree
roostats-*.root
*.dot
*.xml
*Weights*
lib/
histograms/figures/
studies/*/rootfiles/
studies/*/*.root
studies/*/figures/
studies/BDT/*.pkl
studies/BDT/*.json
tmva_training/plots/*
tmva_training/*.root
tmva_training/*/*.root
tmva_training/*/*.tree
tmva_training/scripts/*.txt
tmva_training/scripts/figures/*.png
tmva_training/scripts/figures/*/*.png
tmva_training/CWoLa_*
tmva_training/training_*
tmva_training/scripts/CWoLa_*
Roostats/datacards/*/*.root
Roostats/datacards/*/*.json
Roostats/datacards/*/*.txt
Roostats/examples/*.root
Roostats/Mu2e
Roostats/*/*.png
Roostats/datacards/stable
bin
scripts/*.root
*.log
*.out
*.tmp
*.save
histograms/canvases/*/*/*.root
studies/*/*.root
#ignore images by default
*.png
*.gif
*.jpg
*.pdf
*.ps

#ignore compressed files by default
*.tar
*.zip
*.bz

*.pyc
grid/batch

#ignore Roostats specific
Roostats/workspaces
Roostats/*.root
Roostats/*.tree
Roostats/*.hist
Roostats/*.pdf
Roostats/plots
Roostats/histograms
Pythia
CLFV_ZDecays_Pythia
ExRootAnalysis
ML_Project
AsciiPlotter
CutsetTraining
plugins
python
scripts/*.py
scripts/*.sh
scripts/batch/*
test
data
BuildFile.xml
